.c {
  height: 100vh;
  position: relative;
}

.c-bg {
  height: 100%;
  width: 20px;
  background-color: #59b256;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
}

.c-title {
  font-size: 60px;
  width: 80%;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0;
  font-weight: 300;
  width: 70%;
}

.c-icon {
  font-size: 40px;
  font-size: 40px;
  margin-right: 20px;
}

.c-desc {
  font-weight: 200;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

input {
  width: 60%;
  height: 50px;
  border: none;
  border-bottom: 2px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: #59b256;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
    padding: 10px 50px;
  }

  .c-title {
    font-size: 25px;
    width: 100%;
  }

  .c-info-item {
    margin: 10px 0px;
    width: 100%;
  }

  .c-icon {
  font-size: 20px;
  font-size: 20px;
  margin-right: 10px;
}
.c-desc{
  display: none;
}

form{
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
}
input {
  width: 80%;
  height: 40px;
}
}
